extends ../layout/index
block contenido 
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-Rosewood Bienes
            span.font-normal Raíces
        h2.text-center.text-2xl.font-extrabold.text-gray-700=page

    div(class="bg-gradient-to-r from-pink-500 via-rose-600 to-red-500 shadow-lg py-8 px-6 rounded-lg max-w-2xl mx-auto font-bold text-white uppercase text-center")
        p(class= error ? 'bg-red-600':'bg-green-600').py-2.px-5.rounded-lg.w-full=message
        if error 
            a(href="/auth/passwordRecovery" class="text-center font-bold text-sm text-white uppercase mt-10 block") Restaurar cuenta
        if !error
            a(href="/auth/login" class="text-center font-bold text-sm text-white uppercase mt-10 block") Ya puedes iniciar sesión
